@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdn.jsdelivr.net/gh/duyplus/fontawesome-pro/css/all.min.css");

/* Imgur Upload Style */
body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body.loading .loading-modal {
    display: block;
}

p {
    margin: 10px 0;
}

.title {
    font-size: 1.7vw;
    padding: 10px 0;
    margin: 0 0 10px 0;
    background-color: #eee;
    text-align: center;
    text-decoration: none;
}

.title h1 {
    font-size: 1.5em;
    font-weight: 500;
}

.title p {
    font-size: 0.7em;
}

.title h1, .title p, .title a {
    color: #000;
    text-decoration: none;
}

.title h1:hover, .title a:hover {
    color: #3588DE;
    text-decoration: none;
}

.dropzone {
    border: 2px dashed #1e80e8;
    transition: 0.3s;
    border-radius: 20px;
    background-color: #f1f8fe;
    min-height: auto;
    text-align: center;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

.info {
    margin-top: 10%;
    margin-bottom: 10%;
}

.dropzone i {
    color: #1e80e8;
    font-size: 50px;
    margin-bottom: 5%;
}

.dropzone p {
    font-size: 1.5em;
    font-weight: 600;
    color: #2580e8;
}

.dropzone:hover {
    border: 2px dashed #1e80e8 !important;
    background-color: #dfedfc;
}

.input {
    height: 100%;
    left: 0;
    outline: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
}

.status {
    border-radius: 5px;
    margin: 0 auto;
    max-width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.image {
    padding: 5px;
}

.dropzone.dropzone-dragging {
    border-color: #000;
}

.bg-image {
    background-color: #dfedfc !important;
}

.loading-modal {
    background-color: rgba(255, 255, 255, .8);
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.loading-table {
    margin: 15% auto;
}

.img {
    margin: 10px auto;
    width: 100%;
}

/* Mobile view */
@media screen and (min-width: 300px) and (max-width: 700px) {
    .title h1 {
        font-size: 6vw !important;
    }

    .title p {
        font-size: 1.5em !important;
    }

    .dropzone {
        font-size: 1em !important;
        width: 80%;
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dropzone p {
        font-size: 1em !important;
    }

    .info {
        margin-top: 30%;
    }

    .status {
        width: 80%;
        position: fixed;
        top: 71%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .image-url {
        width: 80%;
    }

    .loading-table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50%;
        margin-bottom: 50%;
    }

    .nav-link, .form-control {
        font-size: .75em;
    }
}

/* ScrollBar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #0ae;
    border-radius: 10px;
}